body {
    background-color: rgb(246, 253, 255);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
  }
  
  p {
    font-family: arial;
    font-size: 30px;
  }