background-image:url(/components/Gameplay-background-image.jpg)

 .BackgroundImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
}

.gameContainer{
    display: flex;

    justify-content: center;
    vertical-align: top;

    flex-direction: row;
    grid-area: auto;
}

#gameCanvas{ 
    order: 2;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 2px solid rgb(0, 4, 255);
    width: 500px; 
    height: 750px;
    background-color: black;
    opacity: 0.8;
 
}

#holdCanvas{ 
    margin-right: 250px;
    order: 1;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 2px solid rgb(0, 4, 255);
    width: 250px; 
    height: 200px;
    background-color: black;
    opacity: 0.8;
}

