.LeaderTable {
  width: 50%;
  border: 2px solid;
  margin: auto;
}

.LeaderTable th {
  padding: 10px 0px 10px 0px;
  border-bottom: 5px solid black;
}

.LeaderTable td {
  padding: 5px 0px 5px 15px;
  border-left: 2px solid black;
}

.LeaderTable td:first-child {
  border-left: none;
  border-right: 2px solid black;
}

.LeaderTable tr:nth-child(even) {
  background-color: azure;
}