body {
    background-color: rgb(0, 0, 0);
  }

h1 {
    color: red;
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}
p{
    color: rgb(239, 101, 124);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
}
    
  
.button-container {
  display: flex;
  justify-content: space-evenly;
}

.button {
    background-color: white; /* Green */
    border: purple;
    color: black;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 30px;
    

  }

.button:hover {
    background-color: purple; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    transition-duration: 0.8s;
    border-radius: 8px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(182, 111, 223, 0.2), 0 6px 20px 0 rgba(182, 111, 223, 0.2);
    

  }

.announcement {
    animation-name: blinkingText;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
  }

@keyframes blinkingText{
  from {color: red;} to {color: white;}

  }