body {
    background-image:url("Gameplay-background-image.jpg");

}

.BackgroundImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
}

.Container{
    display: flex;

    justify-content: center;
    vertical-align: top;

    flex-direction: row;
    grid-area: auto;
}


#gameCanvas{ 
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 2px solid rgb(0, 4, 255);
    width: 400px; 
    height: 800px;
    background-color: black;
    opacity: 0.8;
 
}

#holdCanvas{ 
    margin-right: 200px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 2px solid rgb(0, 4, 255);
    width: 250px; 
    height: 200px;
    background-color: black;
    opacity: 0.8;
}

#nextCanvas{
    margin-left: 200px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    border: 2px solid rgb(0, 4, 255);
    width: 250px; 
    height: 600px;
    background-color: black;
    opacity: 0.8;
}



